<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new </title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="enter the name of the  user" name="name">
        <br>
        <textarea type="text" name="post" placeholder="enter the content"></textarea>
        <br>
        <button>submit</button>
    </form>
</body>
</html>