<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>individual post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>the clear details about the post are:</h2>
    <div class="post">
        
   
        <h3>id:<%= post.id %></h3>
        <h3 class="name">
            username:<%= post.name %>
        </h3>
        <h3 class="content">content:<%= post.post %></h3>
    </div>
</body>
</html>